!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "verify-v1", :content => "LMNlM2zu0bV5F2wzWqXN5UCfNHhSPiqLdtByuaEftQo=" }
    %title
      Jason Cale :: Young Delta Heart :: Ruby developer :: UI Designer :: iPhone Developer
    %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css", :media => "screen", :charset => "utf-8"}
    %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "http://#{env['HTTP_HOST']}/rss.xml"}
    %script{ :src => "/js/jquery.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/js/audio-player.js", :type => "text/javascript", :charset => "utf-8" }
    %script{ :src => "/js/jshizzle.js", :type => "text/javascript", :charset => "utf-8" }
  %body
    #page
      #masthead
        %h1 
          %a{:href => "/", :title => "home"}Young Delta Heart
        %h2 England made me, I ashamed me.
      #content
        .main
          = yield
        .sidebar
          .about
            %h3 Thee Skinny
            %p  
              =((Time.now - Time.parse("07/27/83"))/(60*60*24)/365.2422).to_i
              year old, mustard eating
              %a{:href => "http://jaseandtonic.com"}ruby hacker &amp; designer 
              who lives in 
              %a{:href => "http://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=Wandsworth,+London+SW18+1BT,+UK&sll=51.459768,-0.188046&sspn=0.00857,0.022724&ie=UTF8&ll=51.459743,-0.188119&spn=0.00857,0.022724&z=16&iwloc=A", :title => "It's a link to map - don't come break my heart" }South London
          
          .last_fm
            %h3 Love thy ears
            -if production?
              -@last_fm_tracks.each do |track|
                -src = !track.image.blank? ? track.image : "/images/missing.png"
                %a{:href => track.url, :title => "#{track.artist}: #{track.name}"}
                  %img{:src => src, :alt => "#{track.name}"}
            -else
              %p Tracks not loaded in development
          
          .twitter
            %h3 Read thy tweet
            -if production?
              -if @tweet
                %p=@tweet.text
                %p.tweet_date
                  =link distance_of_time_in_words_to_now(@tweet.created_at) << " ago", tweet_url(@tweet.id), "go to twitter"
              -else
                %p Oh no, it looks like Twitter is down .. whooops!
            -else
              %p Tweets not loaded in development
              
          .friends
            %h3 Clicketh thine link
            %ul
              %li=link "Tipped", "http://tipped.co.uk", "Awesome local search - I help out behind the scenes"
              %li=link "Joel Brazil", "http://twitter.com/joelbrazil", "Tipped.co.uk founder, craft beer drinker, fountain of knowledge."
              %li=link "Simon Collison", "http://colly.com", "The legend, and I&rsquo;m proud to say a good friend."
              %li=link "Gregory Wood", "http://gregorywood.co.uk", "Fucking blinding designer, fellow cyclist, booze, curry and breaking legs."
              %li=link "Simon Campbell", "http://www.simoncampbell.com/", "The boss. Bad ass scuba diving, Drambuie drinking dude."
              %li=link "Glen Swinfield", "http://glenswinfield.co.uk/",  "Fellow cycling chum, erskinite and the long runner."
              %li=link "Simon Clayson", "http://simonclayson.co.uk/", "Sweet designer &amp; cycling hero"
              %li=link "Phil Swan", "http://philswan.co.uk/", "The long legged tall wise talking Erskinite."
              %li=link "George Ornbo", "http://shapeshed.com/", "Fellow wandsworth developer"
              %li=link "Grumblemouse", "http://grumblemouse.wordpress.com/", "Tipped.co.uk community manager, schemer and beer drinking dude. Check out the grumblegarden."
              %li=link "Dan Hunter", "http://danhunter.co.uk/", "Dairy free Actionscript codes &amp;."

          .rubyists
            %h3 The Rubyists
            %ul
              %li=link "Freerange", "http://gofreerange.com", "Go freerange"
              %li=link "James Adam", "http://lazyatom.com"
              %li=link "Dan Webb", "http://danwebb.net/"
              %li=link "Murray Steele", "http://www.hlame.com/"
              %li=link "Richard Livsey", "http://livsey.org/"
              %li=link "Paul Battley", "http://po-ru.com/"
              %li=link "LRUG", "http://lrug.org/"
          
          .source
            %H3 Share thy code
            %p 
              The source for this site is 
              %br
              =link "free to download.", "http://github.com/jasoncale/jasoncaledotcom/tree/", "Fork on Github"
              It is a simple
              =link "Sinatra", "http://sinatrarb.com", "Awesome hackers framework" 
              app written in 
              =link "Ruby", "http://www.ruby-lang.org/en/", "My programming language of choice"
              and is hosted using 
              =link "Heroku.", "http://heroku.com/", "Super quick ruby platform"
        .clear
      #footer
        %p The End
        
    -non_haml do
      <!--[if IE 6]>
      <script type="text/javascript" src="http://shapeshed.github.com/ie6-notice/ie6notice-1.0.0.min.js"></script>
      <![endif]-->
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-10196028-1");
      pageTracker._trackPageview();
      } catch(err) {}
      </script>
